{% extends 'base.html.twig' %}

{% block title %}Dernières publications{% endblock %}

{% block body %}
<div>
    <h1>Dernières publications</h1>
    <ul>
        {% for post in posts %}
            {# Attention, fonctionne comme un foreach en PHP #}
            <li><a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% if max > 1 %}
    <nav class="pagination">
        <h2>Pages</h2>
        <ul>
            {% for i in 1..max %}
            <li>
                <a {% if i != page %}href="{{ path('app_post_index', {p: i}) }}"{% endif %}>
                    {{ i }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
