{% extends 'base.html.twig' %}

{% block title %}Dernières publications{% endblock %}

{% block body %}
<div>
    <h1>Dernières publications</h1>
    <ul>
        {% for post in posts %}
            {# Attention, fonctionne comme un foreach en PHP #}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
    {% if max > 1 %}
    <nav>
        <h2>Pages</h2>
        <ul>
            {% for i in 1..max %}
            <li>
                {% if i == page %}
                    {{ i }}
                {% else %}
                <a href="{{ path('app_post_index', {p: i}) }}">
                    {{ i }}
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
